// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

.lbb-button(@color; @coloractive; @background; @bgactive) {
  color: @color;
  background-color: @background;
  border-color: @background;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @coloractive;
    background-color: @bgactive;
        border-color: @bgactive;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: @background;
          border-color: @background;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

// Button sizes
.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  border-radius: @border-radius;
}

.btn-action {
  .lbb-button(#fff; #fff; @color-yellow; @color-darkblue);
}

.btn-hero {
  .lbb-button(@lbb-nav-default-color; #fff; @jumbotron-bg; @color-darkblue);
  width: 20em;
  margin: 0.5em 2em;
  padding: 1em 0;
  font-weight: 600;
}
